/* You can add global styles to this file, and also import other style files */
// @import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
  font-size: 13px;
}

.fa {
  font-size: 15px !important;
}

body {
  //   background-color: rgb(245, 241, 241);
}

.btn-outline-primary {
  &:hover {
    color: white !important;
  }
}
